name: Build and Push Docker Image to ACR (GPU Build)

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_NAME: lit_gadgetron
  IMAGE_TAG: latest
  ACR_LOGIN_SERVER: gtdocker-d0a2dpbsdpdzh6cz.azurecr.io

jobs:
  build-and-push:
    runs-on: [self-hosted, gadgetron_gpu]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Git LFS
        run: |
          if ! command -v git-lfs &> /dev/null; then
            echo "Installing Git LFS..."
            sudo apt-get update
            sudo apt-get install -y git-lfs
            git lfs install
          else
            echo "Git LFS already installed"
            git lfs install
          fi

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get current date (YYYYMMDD)
        id: get_date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Set DATE environment variable
        run: echo "DATE=${{ steps.get_date.outputs.date }}" >> $GITHUB_ENV

      - name: Docker login to ACR
        run: echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ env.ACR_LOGIN_SERVER }} -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Ensure Git LFS files are present
        run: git lfs pull

      - name: Check GPU
        run: |
          nvidia-smi || true
          nvcc --version || true

      - name: Build Docker image dev (latest)
        run: |
          docker build --target gadgetron_cudabuild \
            -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_dev:latest \
            -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_dev:${{ env.DATE }} .

      - name: Push Docker image dev (latest)
        run: |
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_dev:latest
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_dev:${{ env.DATE }}

      - name: Build Docker image rt (latest)
        run: |
          docker build --target gadgetron_rt_cuda \
            -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_rt:latest \
            -t ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_rt:${{ env.DATE }} .

      - name: Push Docker image rt (latest)
        run: |
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_rt:latest
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}_rt:${{ env.DATE }}
