name: Build and Push Docker Image to GHCR (GPU Build)

on:
  workflow_dispatch:

env:
  IMAGE_NAME: lit_gadgetron
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: [self-hosted, gadgetron_gpu]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get current date (YYYYMMDD)
        id: get_date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Set DATE environment variable
        run: echo "DATE=${{ steps.get_date.outputs.date }}" >> $GITHUB_ENV

      - name: Set lowercase owner name
        run: echo "OWNER=$(echo '${{ env.OWNER }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Check GPU
        run: |
          nvidia-smi || true
          nvcc --version || true

      - name: Build Docker image dev (latest)
        run: |
          docker build --target gadgetron_cudabuild \
            -t ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_dev:latest \
            -t ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_dev:${{ env.DATE }} .

      - name: Push Docker image dev (latest)
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_dev:latest
          docker push ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_dev:${{ env.DATE }}

      - name: Build Docker image rt (latest)
        run: |
          docker build --target gadgetron_rt_cuda \
            -t ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_rt:latest \
            -t ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_rt:${{ env.DATE }} .

      - name: Push Docker image rt (latest)
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_rt:latest
          docker push ${{ env.REGISTRY }}/${{ env.OWNER }}/${{ env.IMAGE_NAME }}_rt:${{ env.DATE }}
